{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
      <div class="medium-6 columns">
        <h4>Landon Hotel App</h4>
        <img class="thumbnail" src="{{ asset('images/attractions.jpg') }}" width="400">
      </div>
      <div class="medium-6 large-5 columns">
        <p>Welcome to the Landon Hotel App</p>
        <p>This program was developed to keep track of all of our customers.</p>
        <p>This sofwtare also helps prevent overbooking.</p>
      </div>
    </div>

{% endblock %}
